*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* top
left
right
buttom

inset:  this. uses all 4 at a time
*/
/* .box1 a{
    position: relative;
    top: 30px;

} */
 header{
    background-color: rgb(5, 5, 62);
    padding: 1rem;
    width: 65%;
    margin: 0 auto;
    border-radius: 20px;
    position: sticky;
    top: 0.5rem;
    z-index: 100;
    
 }


 header ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
 }

 header a{
    color: white;
    text-decoration: none;
 }


.box2{
    border: 2px solid black ;
    height: 300px;
    margin: 10px;
    position: relative;
}
.box2 div{
    width: 100px;
    height: 50px;
}

.box2 div:nth-child(1){
    background-color: blue;
    color: white;
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.box2 div:nth-child(2){
    background-color: yellow;
    color: black;
    position: absolute;
    bottom: 0%;
}
.box2 div:nth-child(3){
    background-color: red;
    color: white;
}
/* position fixed */
.top{
    color: white;
    background-color: blue;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700px;
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    z-index: 100;

}
/* position sticky */
.box3{
    width: 100%;
    height: auto;
}
.box3 img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
    position: sticky;
    top: 1rem;
}